<config>
    <modules>
        <Pest_Core>
            <version>0.1.0</version>
        </Pest_Core>
    </modules>
    <global>
        <helpers>
            <pest_core>
                <class>Pest_Core_Helper</class>
            </pest_core>
        </helpers>

        <blocks>
            <pest_core>
                <class>Pest_Core_Block</class>
            </pest_core>
        </blocks>

        <models>
            <pest_core>
                <class>Pest_Core_Model</class>
            </pest_core>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <bestart_core>
                    <file>bestart.xml</file>
                </bestart_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <bestart_core>
                    <files>
                        <default>BestArt_Core.csv</default>
                    </files>
                </bestart_core>
            </modules>
        </translate>
    </frontend>
</config>
