<config>
    <modules>
        <Pesto_Core>
            <version>0.1.0</version>
        </Pesto_Core>
    </modules>
    <global>
        <helpers>
            <pesto_core>
                <class>Pesto_Core_Helper</class>
            </pesto_core>
        </helpers>

        <blocks>
            <pesto_core>
                <class>Pesto_Core_Block</class>
            </pesto_core>
        </blocks>

        <models>
            <pesto_core>
                <class>Pesto_Core_Model</class>
            </pesto_core>
        </models>
    </global>

    <frontend>
        <routers>
            <pesto>
                <use>standard</use>
                <args>
                    <module>Pesto_Core</module>
                    <frontName>pesto</frontName>
                </args>
            </pesto>
        </routers>

        <!--<layout>-->
            <!--<updates>-->
                <!--<pesto_core>-->
                    <!--<file>pesto.xml</file>-->
                <!--</pesto_core>-->
            <!--</updates>-->
        <!--</layout>-->
        <!---->
        <!--<translate>-->
            <!--<modules>-->
                <!--<pesto_core>-->
                    <!--<files>-->
                        <!--<default>Pesto.csv</default>-->
                    <!--</files>-->
                <!--</pesto_core>-->
            <!--</modules>-->
        <!--</translate>-->
    </frontend>
</config>
